mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.example-header-image {
    background-size: cover;
}

.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
}

.mat-card-subtitle{
    height: 60px;
}

.mat-card-content{
    height: 250px;
}