example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 130px;
  display: flex;
  justify-content: center;
  align-self: center;
}

button {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

#robotic {
  display: flex;
  width: 15%;
  max-height: 170px;
  min-width: 100px;
}

span {
  align-self: center;
  padding: 2%;
}

#carlos{
  align-self: center;
  width: 50%;
  padding: 1%;
  max-height: 70px;
  max-width: 300px;
  margin-bottom: 3%;
}

#urjc {
  align-self: center;
  width: 50%;
  max-width: 200px;
  max-height: 75px;
  margin-bottom: 1%;
}

#asepeyo {
  align-self: center;
  width: 50%;
  padding: 1%;
  max-height: 70px;
  max-width: 180px;
  margin-bottom: 2%;
}

#mutua {
  align-self: center;
  width: 150%;
  max-height: 200px;
  max-width: 300px;
}

.general {
  display: flex;
  width: 100%;
  height: 90%;
  min-height: 100px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#left {
  display: flex;
  width: 20%;
  max-width: 500px;
  justify-content: flex-start;
}

#right {
  display: flex;
  height: 70%;
  justify-content: space-between;
  width: 80%;
  max-width: 1250px;
  vertical-align: middle;
}

button {
  padding: 0%;
  margin: 0%;
  background: none;
  border: none;
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  button {
    width: 50%;
  }

  #right {
    width: 50%;
  }

  #robotic {
    width: 15%;
    height: auto;
    max-width: 207px;
    min-width: 110px;
  }

}

@media (max-width: 460px) {
  button {
    width: 50%;
  }

  #robotic {
    width: 15%;

    height: auto;

    max-width: 207px;

    min-width: 80px;
  }

}

@media (max-width: 360px) {
  button {
    width: 50%;
  }

  #robotic {
    width: 15%;

    height: auto;

    max-width: 207px;

    min-width: 60px;
  }

}
