example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 130px;
  display: flex;
  justify-content: center;
  align-self: center;
}

button {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

#robotic {
  display: flex;
  width: 15%;
  max-height: 170px;
  min-width: 100px;
}

span {
  align-self: center;
  padding: 2%;
}


#urjc {
  align-self: center;
  width: 35%;
  max-width: 150px;
  max-height: 75px;
}

#asepeyo {
  align-self: center;
  width: 35%;
  padding: 1%;
  max-height: 70px;
  max-width: 150px;
}

#mutua {
  align-self: center;
  width: 100%;
  max-height: 100px;
  max-width: 200px;
}

.general {
  display: flex;
  width: 100%;
  height: 90%;
  min-height: 100px;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

#left {
  display: flex;
  width: 40%;
  max-width: 500px;
  justify-content: flex-start;
}

#right {
  display: flex;
  height: 70%;
  justify-content: space-between;
  width: 50%;
  max-width: 650px;
}

button {
  padding: 0%;
  margin: 0%;
  background: none;
  border: none;
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  button {
    width: 50%;
  }

  #right {
    width: 50%;
  }

  #robotic {
    width: 15%;
    height: auto;
    max-width: 207px;
    min-width: 110px;
  }

}

@media (max-width: 460px) {
  button {
    width: 50%;
  }

  #robotic {
    width: 15%;

    height: auto;

    max-width: 207px;

    min-width: 80px;
  }

}

@media (max-width: 360px) {
  button {
    width: 50%;
  }

  #robotic {
    width: 15%;

    height: auto;

    max-width: 207px;

    min-width: 60px;
  }

}
