<p>
  <mat-toolbar class="md-tall" color="primary">
    <div class="general">
      <!--<a class="cdk-visually-hidden nav-link" [routerLink]="[currentUrl]" [fragment]="'main'" >Skip to Main Content </a> -->
    <div id="left">
      <a href="http://roboticslab.uc3m.es/roboticslab/" id="robotic">
        <img src="./assets/img/logos/robotics.png" alt="Logotipo de Robotics Lab">
      </a>
      <span>Roboasset</span>
    </div>
      <div id="right">
        <a id="carlos" href="https://www.uc3m.es/Inicio">
          <img src="./assets/img/logos/carlos.png" alt="Logotipo de Universidad Carlos III de Madrid">
        </a>
        <a href="https://www.mutuaterrassa.com/" id="mutua">
          <img src="./assets/img/logos/mutua_terrasa.png" alt="Logotipo de Mutua Terrasa">
        </a>
        <a href="https://www.asepeyo.es/en/" id="asepeyo" alt="Logotipo de Asepeyo">
          <img src="./assets/img/logos/asepeyo.png" alt="Logotipo de Asepeyo">
        </a>
        <a id="urjc" href="https://lambecom.webnode.es/">
          <img src="./assets/img/logos/logo_lambecom.png" alt="Logotipo de Lambecom">
        </a>
        
      </div>
    </div>
  </mat-toolbar>
</p>