<div
  fxLayout="column"
  fxLayoutAlign="flex-start stretch"
  class="content-section"
>
  <!--<div
    fxLayout="column"
    fxLayoutAlign="center flex-start"
    class="main-title horizontal-padding"
  >
    <h1 class="mat-display-3">Roboasset</h1>
  </div> -->
  <div></div>
  <div
    fxLayout="column"
    fxLayoutAlign="flex-start stretch"
    class="why-veggieweb-section"
  >
    <div class="horizontal-padding">
      <h2>Project Details</h2>
    </div>
    <div class="why-veggieweb-reasons">
      <mat-card>
        <mat-card-content>
          <h3>
            <mat-card-title>Name</mat-card-title>
          </h3>
          <p>
            Intelligent robotic systems for assessment and rehabilitation in
            upper limb therapies
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h3>
            <mat-card-title>Team</mat-card-title>
          </h3>
          <p>RoboticsLab</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h3>
            <mat-card-title>Collaborators</mat-card-title>
          </h3>
          <mat-list>
            <mat-list-item>Collaborative robotics</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Asepeyo</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Lambecom URJC</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h3>
            <mat-card-title>Research Areas</mat-card-title>
          </h3>
          <mat-list>
            <mat-list-item>Mútua Terrasa</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Rehabilitation</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Spasticity</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="ready-to-section">
    <mat-card fxFlex="nogrow">
      <img mat-card-image src="./assets/img/about/kuka.png" />
      <mat-card-content>
        <h2 class="text-center">The Project</h2>
        <p class="text-justify">
          The efficient and effective rehabilitation of people with neurological
          diseases, among them spasticity, represents one of the main social and
          economic problems for social security systems [1], [2]. Spasticity
          (from Greek spasmos, meaning 'drawing or pulling') is a muscle control
          disorder characterised by an increase in muscle tone with exaggerated
          stretch reflexes that also characterizes upper motor neuron syndrome.
          Furthermore, spasticity is present in other pathologies, such as
          cerebral palsy, spina bifida, brain stroke and amyotrophic lateral
          sclerosis. Robotics can play a significant role in the rehabilitation
          of patients with spasticity by improving their quality of life and
          reducing the costs associated with care. While the rehabilitation of
          lower limbs is a popular research area (particularly exoskeletons for
          locomotion), the rehabilitation of upper limbs remains to be further
          explored. In this light, the project aims to develop a platform for
          modelling, evaluation and rehabilitation of spasticity though
          robot-assisted therapy. We propose to develop a method for
          non-invasive modelling of upper limbs based on the biomechanical
          modelling of joints using 7GDL Rosen Kinematics [3]. Traditionally,
          the muscle model is usually based on a non-linear state of Hill’s
          force-velocity relation [4]. However, the latest model is not suitable
          for people with spasticity. Therefore, improving the muscle model by
          introducing new parameters such as rigidity, viscoelasticity,
          extensibility and thixotropy is key. All of these elements will help
          develop a new model for spasticity to be validated through simulation.
          Our second objective focuses on adapting the model to each patient
          through a new platform based on robot-assisted therapy and a 3D motion
          tracking system. The latter will enable a detailed analysis of passive
          movement response: force/pair and position/velocity of the limb and
          help determine the degree of spasticity of patients in a fast and
          objective manner, while simultaneously developing new clinical scales
          (a modified version of Ashworth [5]). The final adjustments of the
          model will be done by means of identification techniques like
          Hammerstein-wiener [6] and new concepts such as the patient’s
          acceptance. Ultimately, this project pursues the clinical
          rehabilitation of patients that validates the system. Trials will be
          planned for each patient with user-friendly HMI and using a
          personalised model. The robot will guide the movements of each
          patient, generating 3D trajectories required automatically, and using
          continuous goal-directed actions algorithms [7], which will enable
          self-directed learning during execution [8]. This will allow to
          accurately assess the rehabilitation measuring new parameters: maximum
          level of hypertonia/rigidity, area under the curve, hypertonia
          relation, etc
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutAlign="flex-start stretch">
    <div class="home-item">
      <mat-card>
        <img mat-card-image src="./assets/img/about/team.jpeg" />
        <mat-card-content>
          <h3>
            <mat-card-title>Robotics Lab</mat-card-title>
          </h3>
          <p>
            Once upon a time, in 1981 we participated at the UPM in the
            development of one of the first robots in Spain, the DISAM-0 a 3 DOF
            robot built with aluminum windows’ frame pieces, with trucks’ motors
            and bicycle wires. The robot had a strong Parkinson but using simple
            P controller implemented in the 8 bits Z-80 microprocessor, the
            position error was eliminated. Later, in 1982 we published our first
            paper in robotics.It was really the golden start days!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img
          mat-card-image
          src="https://cdn.pixabay.com/photo/2016/06/19/10/17/office-1466390_960_720.jpg"
        />
        <mat-card-content>
          <h3>
            <mat-card-title>Lorem Ipsum</mat-card-title>
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            gravida augue et eros aliquet porta. In ullamcorper augue ut sem
            aliquam, eu ullamcorper lectus convallis. Curabitur sed diam felis.
            Suspendisse vitae nisl est. Nunc lectus ipsum, tincidunt non quam
            porta, finibus venenatis urna. Maecenas luctus rhoncus felis, vel
            volutpat nunc posuere at. Duis hendrerit vitae quam id mollis. Duis
            eget ultrices libero. Praesent eu diam eu mauris semper imperdiet.
            Phasellus tincidunt, lacus cursus ullamcorper egestas, leo sapien
            auctor sapien, at dapibus sem nunc id sem. Duis dignissim magna
            ante, nec tempus nunc auctor nec.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
